<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neer's Friend Form</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body style="background-color: rgb(192 132 252);">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home.ejs">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">BHARAT</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
     <!-- banner of the site  -->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="display: block;">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="banner.jpeg" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam, quaerat. Nihil consequuntur sunt repellat, eligendi earum dolores eos deserunt perferendis aliquam fugit neque repudiandae modi ipsam, explicabo unde optio tenetur.</h5>
          <p>kooo</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="banner.jpeg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="banner.jpeg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
    
    <form id="neers-friend-form" action="/neers-friends" method="POST">
        <center>
            <h2>Neer's Friend Form</h2>
        </center>
        <div>
            <label for="name">Name</label>
            <input type="text" id="username" name="name">
        </div>
        <div>
            <label for="jobCategory">Job Category:</label>
            <select id="jobCategory" name="jobCategory">
                <option value="">Select Job Category</option>
                <option value="Student">Student</option>
                <option value="Employed">Employed</option>
            </select>
        </div>
        <div>
            <label for="country">Country:</label>
            <select id="country" name="country">
                <option value="">Select Country</option>
                <option value="USA">Bharat</option>
                <option value="Canada">Russia</option>
                <option value="Mexico">Mexico</option>
                <!-- Add more countries here -->
            </select>
        </div>
        <div>
            <label for="profile-picture">Profile Picture:</label>
            <input type="file" id="profilePicture" name="profilePicture">
        </div>
        <div>
            <label for="gender">Gender:</label>
            <select id="gender" name="gender">
                <option value="">Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
        </div>
        <div>
            <label for="personality">Personality:</label>
            <select id="personality" name="personality">
                <option value="">Select Personality</option>
                <option value="extrovert">Extrovert</option>
                <option value="introvert">Introvert</option>
                <option value="ambivert">Ambivert</option>
            </select>
        </div>
        <div>
            <label for="joinDate">Date Joined:</label>
            <input type="date" id="joinDate" name="joinDate">
        </div>
        <div>
            <label for="thoughts">What do you think about Neeraj?</label>
            <textarea id="thoughts" name="thoughts" rows="4"></textarea>
        </div>
        <div>
            <center>
                <button type="submit">Submit</button>
            </center>
        </div>
    </form>

     <!-- Footer -->
     <footer class="footer">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <p>&copy; 2024 Neeraj's Journal. All rights reserved.</p>
              </div>
              <div class="col-md-6">
                  <ul class="footer-links">
                      <li><a href="#">Privacy Policy</a></li>
                      <li><a href="#">Terms of Service</a></li>
                      <li><a href="#">Contact</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </footer>

<script src="index.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
