<link rel="stylesheet" href="style.css">
<div class="box-container">
    <div class="boxes">
      <!-- about me box -->
  <div class="about-me-box" onclick="openOverlay()" id="aboutme">
    <center> <h2>Osho</h2></center>
    <img src="https://e1.pxfuel.com/desktop-wallpaper/527/759/desktop-wallpaper-osho-osho-rajneesh-indian-thinker-indian-thinker-osho-rajneesh-osho.jpg" alt="">
    <p class="quotes">"Don't be afraid of difficulties. The greater the difficulties, the more energy you will have to transform them into nourishment"</p>
    <p>whenever i feel depressed i listen to him and feel calm and relax ,he says truth about life </p>
    <!-- Other content goes here -->
  </div>
  <!-- About my Friends -->
  <div class="about-me-box" onclick="openOverlay()" id="aboutfriends">
    <center> <h2>Ratan tata</h2></center>
    <img src="https://www.tatatrusts.org/images/Ratan_N_Tata_sm.jpg" alt="" >
    <p class="quotes" style="color: white;">"None can destroy iron, but its own rust can. Likewise, none can destroy a person, but his own mindset can." </p>
    <p>I am influenced by him because He is so kind and Humble </p>
    <!-- Other content goes here -->
  </div>
  <!-- Check my diary -->
  <div class="about-me-box" onclick="open_diary()" id="diary" >
    <center> <h2>Bill gates</h2></center>
    <img src="https://imageio.forbes.com/specials-images/imageserve/63a10cda05f6db21230c44d1/Bill-Gates/1960x0.jpg?format=jpg&width=1440" alt="">
    <p class="quotes">"Your most unhappy customers are your greatest source of learning."</p>
    <p>I like bill gates because he likes to serve the people on the earth who needs it .</p>
    <!-- Other content goes here -->
  </div>
  <!-- check my current project -->
  <div class="about-me-box" onclick="open_projects()" id="projects" >
    <center> <h2>Mr zuck</h2></center>
    <img src="https://www.telegraph.co.uk/multimedia/archive/02223/zckerberg_2223405b.jpg?imwidth=960" alt="">
    <p class="quotes">"The biggest risk is not taking any risk. In a world that's changing really quickly, the only strategy that is guaranteed to fail is not taking risks." </p>
    <p>I like him because he has big company but he seems to learn new things everytime</p>
    <!-- Other content goes here -->
  </div>
    </div>
  </div>