<link rel="stylesheet" href="style.css">
<div class="box-container">
    <div class="boxes">
      <!-- about me box -->
  <div class="about-me-box" onclick="openOverlay()" id="aboutme">
    <center> <h2>Badak_library</h2></center>
    <p>It is a pdf uploading site </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis provident a, molestias cum quia delectus? Doloribus, ipsa modi animi, voluptatem sunt consectetur labore asperiores praesentium natus nihil vel est fugit!</p>
    <!-- Other content goes here -->
    <a href="https://badak-library.onrender.com/">VISIT THE SITE </a>
  </div>
  <!-- About my Friends -->
  <div class="about-me-box" onclick="openOverlay()" id="aboutfriends">
    <center> <h2>Prayas sankalp</h2></center>
    <p>we made is fight from poverty and hunger</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis provident a, molestias cum quia delectus? Doloribus, ipsa modi animi, voluptatem sunt consectetur labore asperiores praesentium natus nihil vel est fugit!</p>
    <!-- Other content goes here -->
    <a href="https://prayas-sankalp.onrender.com/signup-page-brown.html">VISIT THE SITE </a>
  </div>
  <!-- Check my diary -->
  <div class="about-me-box" onclick="openOverlay()" id="diary" >
    <center> <h2>Throw your text</h2></center>
    <p>We made it to share text withou signup or signing </p>
    <p>we made it because i was facing problem in sharing the text file from one computer to another computer in computer lab of my college </p>
    <!-- Other content goes here -->
    <a href="https://throw-your-text.onrender.com/">VISIT THE SITE </a>
  </div>
  <!-- check my current project -->
  <div class="about-me-box" onclick="" id="projects" >
    <center> <h2>My Projects</h2></center>
    <p>Hi, I'm Neeraj. Welcome to my journal!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis provident a, molestias cum quia delectus? Doloribus, ipsa modi animi, voluptatem sunt consectetur labore asperiores praesentium natus nihil vel est fugit!</p>
    <!-- Other content goes here -->
  </div>
    </div>
  </div>